###使用自建数据库；使用Ingress发布配置后台###
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
  namespace: default
spec:
  type: ClusterIP
  ports:
    - port: 80
      name: http
      targetPort: 80
    - port: 443
      name: http
      targetPort: 443
  selector:
    app: nginx
---
#指定api版本标签
apiVersion: apps/v1
#定义资源的类型/角色，deployment为副本控制器
#此处资源类型可以是Deployment、Job、Ingress、Service等
kind: Deployment
#定义资源的元数据信息，比如资源的名称、namespace、标签等信息
metadata:
  #定义资源的名称，在同一个namespace空间中必须是唯一的
  name: nginx
  namespace: default
  labels:
    app: nginx
#定义deployment资源需要的参数属性，诸如是否在容器失败时重新启动容器的属性
spec:
  #定义副本数量
  replicas: 1
  #定义标签选择器
  selector:
    #定义匹配标签
    matchLabels:
      #需与后面的.spec.template.metadata.labels定义的标签保持一致
      app: nginx
  #定义业务模板，如果有多个副本，所有副本的属性会按照模板的相关配置进行匹配
  template:
    metadata:
      #定义Pod副本将使用的标签，需与前面的.spec.selector.matchLabels定义的标签保持一致
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          imagePullPolicy: IfNotPresent
          image: nginx:1.26.3
          ports:
            - containerPort: 80
              name: http
            - containerPort: 443
              name: https
          resources:
            requests:
              cpu: 1000m
              memory: 2Gi
            limits:
              cpu: 2000m
              memory: 4Gi
          volumeMounts:
            - name: nginx-config-volume
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            # - name: nginx-config-volume
            #   mountPath: /etc/nginx/conf.d/xxx.conf
            #   subPath: xxx.conf
            # - name: nginx-certs-volume
            #   mountPath: /etc/nginx/certs/
            # - name: nginx-storage-volume
            #   mountPath: /usr/share/nginx/html/

      volumes:
        - name: nginx-config-volume
          configMap:
            defaultMode: 420
            name: nginx-server-conf
        # - name: nginx-certs-volume
        #   secret:
        #     secretName: nginx-certs-secret
        # - name: nginx-storage-volume